@model SplitSmart.Models.GroupModel

@{
    ViewData["Title"] = "Delete Group";
}

<h3>Delete Group</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GroupId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Groups</a>
    </form>
</div>
