@model SplitSmart.Models.ExpenseModel

@{
    ViewData["Title"] = "Create Expense";
}
<h3>Create New Expense</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpenseGroupName" class="control-label"></label>
                <select asp-for="ExpenseGroupName" class="form-control" asp-items="ViewBag.ExpenseGroupName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User1Percentage" class="control-label"></label>
                <input asp-for="User1Percentage" class="form-control" />
                <span asp-validation-for="User1Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User2Percentage" class="control-label"></label>
                <input asp-for="User2Percentage" class="form-control" />
                <span asp-validation-for="User2Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User3Percentage" class="control-label"></label>
                <input asp-for="User3Percentage" class="form-control" />
                <span asp-validation-for="User3Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User4Percentage" class="control-label"></label>
                <input asp-for="User4Percentage" class="form-control" />
                <span asp-validation-for="User4Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User5Percentage" class="control-label"></label>
                <input asp-for="User5Percentage" class="form-control" />
                <span asp-validation-for="User5Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Expenses</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
